$breakpoint:700px;
$topbar:67px;
@font-face {
	font-family:NotoSans;
	src:url(../fonts/NotoSansJP-Regular.otf);
}
* {
	margin:0;
	padding:0;
	font-family:NotoSans;
}
body {
	div#fullscreen-background {
		position:fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: -100;
		div#video-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	div#wrapper {
		height:$topbar;
		header {
			background-color:rgba(0,0,0,0.4);
			padding-top:5px;
			font-size:1.2rem;
			@media screen and (min-width:$breakpoint) {
				display:flex;
				justify-content:space-between;
			}
			div>object {
				margin-left:15px;
				float:left;
			}
			div.center-title {
				display:none;
				margin-top:5px;
				font-size:1.7rem;
				@media screen and (min-width:$breakpoint) {
					display:block;
				}
			}
			div#hamburger {
				margin:8px 23px 0 0;
				float:right;
				@media screen and (min-width:$breakpoint) {
					display:none;
				}
				cursor:pointer;
				div#ham1,div#ham2,div#ham3 {
					width:35px;
					height:5px;
					background-color:white;
					margin:5px 0;
				}
			}
			nav {
				margin-top:7px;
				float:right;
				div.nav-item {
					display:none;
					@media screen and (min-width:$breakpoint) {
						display:inline-block;
					}
					cursor:pointer;
					padding:10px;
					margin-right:20px;
					background-color:black;
					&:hover {
						background-color:white;
					}
				}
			}
			a {
				color:white;
				text-decoration:none;
				text-transform:uppercase;
				&:hover {
					color:black;
				}
			}
		}
	}
/************ content **************/
	div#content {
		div.content-div {
			display:none;
		}
		div#home-div {
			width:80vw;
			margin:0 auto;
			div.row {
				// &:nth-child(odd) {
				// 	background-color:lightgoldenrodyellow;
				// }
				// &:nth-child(even) {
				// 	background-color:lightcyan;
				// }
				padding:10px;
				height:70px;
				display:flex;
				img {
					padding:0 10px;
					height:60px;
					float:left;
					flex-grow:1;
				}
				p {
					color:white;
					font-size:1.2em;
					flex-grow:2;
				}
			}
		}
		div#resume-div {
			margin-top:30px;
			width:800px;
			height:800px;
			margin:0 auto;
		}
	}
/************** footer **************/
	footer {
		position:fixed;
		bottom:0;
		left:0;
		width:calc(100% - 30px);
		height:33px;
		padding:15px;
		background-color:rgba(0,0,0,0.9);
		color:white;
		img {
			float:right;
			height:32px;
			margin-right:29px;
		}
	}
}